<div class="container">

  <form action="/login" method="post">
    Email: <input type="text" name="email" placeholder="Email">
    Password: <input type="password" name="password">
    <input type="submit" value ="Log In">
  </form>

</div>

<div class="container">

  <form action="/create_user" method="post">
    Name: <input type="text" name="name" placeholder="name">
    Email: <input type="text" name="email" placeholder="Email">
    Password: <input type="password" name="password">
    <input type="submit" value ="Create Account">
  </form>

</div>